IRT_BANK/WebContent/wsdl/SingUpSimpleAccount.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://main" xmlns:intf="http://main" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://main" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="main">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="args" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="mainResponse">
    <complexType/>
   </element>
   <element name="generateKey">
    <complexType/>
   </element>
   <element name="generateKeyResponse">
    <complexType>
     <sequence>
      <element name="generateKeyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="generateKeyResponse">

      <wsdl:part element="impl:generateKeyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="generateKeyRequest">

      <wsdl:part element="impl:generateKey" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainResponse">

      <wsdl:part element="impl:mainResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="mainRequest">

      <wsdl:part element="impl:main" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SingUpSimpleAccount">

      <wsdl:operation name="main">

         <wsdl:input message="impl:mainRequest" name="mainRequest">

       </wsdl:input>

         <wsdl:output message="impl:mainResponse" name="mainResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateKey">

         <wsdl:input message="impl:generateKeyRequest" name="generateKeyRequest">

       </wsdl:input>

         <wsdl:output message="impl:generateKeyResponse" name="generateKeyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SingUpSimpleAccountSoapBinding" type="impl:SingUpSimpleAccount">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="main">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="mainRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="mainResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="generateKey">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="generateKeyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="generateKeyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SingUpSimpleAccountService">

      <wsdl:port binding="impl:SingUpSimpleAccountSoapBinding" name="SingUpSimpleAccount">

         <wsdlsoap:address location="http://localhost:8080/IRT_BANK/services/SingUpSimpleAccount"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
